.body{
    background-image: url("images/airplane-4885803.jpg");
    background-repeat: no-repeat;
    background-size: 1600px 100px;
    overflow: auto;

    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    
}
.card-body{
    box-shadow: grey;
    box-shadow: 20;

}
